<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="en">Sentry</label>
    <label lang="de">Sentry</label>
    <version>2.0.4</version>
    <description lang="de">Sentry Fehlertracking für Shopware</description>
    <description lang="en">Sentry error tracking for Shopware</description>
    <author>Onedrop GmbH &amp; Co. KG</author>
    <copyright>(c) by Onedrop GmbH &amp; Co. KG</copyright>
    <license>MIT</license>
    <link>https://1drop.de</link>
    <compatibility minVersion="5.6.0" />
    <changelog version="2.0.4">
        <changes lang="de">Fix fuer Sentry SDK composer bundle</changes>
        <changes lang="en">Fix for sentry SDK being bundled in the plugin</changes>
    </changelog>
    <changelog version="2.0.3">
        <changes lang="de">Neue Sentry SDK version</changes>
        <changes lang="en">New version of Sentry SDK</changes>
    </changelog>
</plugin>
