<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="en">Sentry</label>
    <label lang="de">Sentry</label>

    <version>2.0.3</version>
    <author>Onedrop GmbH &amp; Co. KG</author>
    <copyright>(c) by Onedrop GmbH &amp; Co. KG</copyright>
    <license>MIT</license>
    <link>https://1drop.de</link>
    <compatibility minVersion="5.5.0" />
</plugin>
